<div *ngIf="hero">
    <button class="ui orange left icon button" (click)="goBack()">
        <i class="left arrow icon"></i>
    </button>
    <h2>{{hero.name}} details!</h2>
    <div class="ui form">
        <div class="field">
            <label>Id</label>
            <div class="ui left icon disabled input">
                <input type="text" [(ngModel)]="hero.id">
                <i class="privacy icon"></i>
            </div>
        </div>
        <div class="field">
            <label>Name</label>
            <div class="ui left icon input">
                <input type="text" [(ngModel)]="hero.name" placeholder="Enter name...">
                <i class="users icon"></i>
            </div>
        </div>
        <div class="field">
            <button class="ui green button" (click)="save()">
                Save
            </button>
            <button class="ui button" (click)="discard()">
                Discard
            </button>
        </div>
    </div>
</div>